@font-face{
    font-family: "MaxImpact";
    src: url("../fonts/Maximum\ Impact.ttf");
}

body,
html {
    margin: 0; padding: 0;
    max-width: 100%;
    height: 100vh;
}

body{
    overflow-x: hidden;
}

* { box-sizing: border-box; font-family: MaxImpact; }

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar{
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.44, rgb(122,153,217)),color-stop(0.72, rgb(73,125,189)),color-stop(0.86, rgb(28,58,148)));
}

.menu {
    width: 100%;
    z-index: 99;
    top: 0;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    text-align: center;
    transition: all .3s;
}
.black{
    background: rgba(0, 0, 0, 0.5);
}

.menu ul {
    list-style-type: none;
    display: inline-block;
    margin: 0; padding: 0;
}

.menu ul li {
    display: inline-block;
    font-size: 1.1em;
}

.menu ul li a {
    display: block;
    padding: 1vh 20px;
    color: #fdfdfd;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: all.5s;
    text-decoration: none;
    
    font-weight: bold;
}

.menu ul li a:hover,
.menu ul li a.active {
    text-decoration: none;
}

.menu ul li a:focus {
    outline: 0 !important;
    text-decoration: none;
}

.menu ul li a.active { border-color: #fafafa; }

.main {
    text-align: center;
}

.sessao-bg{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    top:0;left:0;right:0;bottom:0;
}

.titulo-sessao{
    position: relative;
    width: 90vw;
    height: 90%;
    margin: auto;
    outline: solid 0.25em #000;
    box-shadow: inset .313em .313em 0 rgba(0,0,0,0.4), inset -.313em -.313em 0 rgba(255,255,255,0.4), 0 1em 0.625em -.4em rgba(0,0,0,0.8);
    transition: linear .2s;
    background: #2024b9;
  }
  
  .titulo-sessao:before {
     content: " ";
     position: absolute;
    top: -.25em;
    left: -.25em;
    width: .625em;
    height: .625em;
    background: #1b1b1b;
    border-bottom: solid .25em #000;
    border-right: solid .25em #000;
  }
  
  .titulo-sessao:after {
     content: " ";
     position: absolute;
    bottom: -.25em;
    right: -.25em;
    width: .625em;
    height: .625em;
    background: #1b1b1b;
    border-top: solid .25em #000;
    border-left: solid .25em #000;
  }

.name {
    color: #FFF;
    font-size: 6vw;
    padding: 0 0 0 .1em;
    text-shadow: 3px 3px #000000;
}

#inicio {
    height: 100vh;
    
    background: rgb(96, 171, 248);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(96, 171, 248, 1) 2%, rgba(96, 171, 248, 1) 3%, rgba(17, 33, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(96, 171, 248, 1) 2%, rgba(96, 171, 248, 1) 3%, rgba(17, 33, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(96, 171, 248, 1) 2%, rgba(96, 171, 248, 1) 3%, rgba(17, 33, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60abf8', endColorstr='#1121ff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#logo{
    display: block;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
}

#equipe {
    min-height: 98.5vh;
    background: #00d2ff;
    background: -webkit-linear-gradient(to left, #00d2ff, #928DAB);
    background: linear-gradient(to left, #00d2ff, #928DAB);
}

.team{
    min-width: 100%;
    height: 10vh;
}

#jogos {
    min-width: 320px;
    min-height: 480px;
    height: 100vh;
    background: #B24592;
    background: -webkit-linear-gradient(to left, #B24592, #F15F79);
    background: linear-gradient(to left, #B24592, #F15F79);
    transition: all.5s;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    text-align: center;
}

.jogo-descricao {
    background: linear-gradient(to left, red, blue);
    background: url(../img/Bg-game.jpg);
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    position: relative;
    padding-top: 15px;
}

.game-img{ width: 60vw; }

.text{
    /*top: 50%; left: 50%;
    transform: translate(-50%, -50%);*/
    color: #FFF;
    font-size: 4.5vw;
    text-shadow: 3px 3px 3px #000000;
    position: absolute;
    width: 90vh;
    top: 45%; left: 50%;
    transform: translate(-50%, -50%);
}

.download {
    align-content: center;
    background: none;
    border: none;
    outline: none;
    display: block;
    position: absolute;
    top: 70%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 0px #133DB9, -5px 0px #133DB9, 0px 5px #133DB9, 0px -5px #133DB9, 0px 15px #2979FF, -5px 10px #2A6CDA, 5px 10px #2A6CDA;
    background: #133DB9;
    color: #eee;
    transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}
  
.download:active {
    box-shadow: 5px 5px #2353E0, -5px 5px #2353E0, 0px 10px #2353E0, 0px 0px #133DB9, 0px 15px #2979FF, -5px 10px #2A6CDA, 5px 10px #2A6CDA;
    background: #2353E0;
    padding-top: 15px;
    padding-bottom: 5px;
    transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}

.imgs-gifs{
    max-width: 100%;
    height: auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom:0;
    left:0;
}

.gifs {
    width: 33.33%;
    height: 100%;
	background-color: #000;
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
}

/* Fazer o site em 240px */

@media screen and (min-width:320px) {
    
}

@media screen and (min-width:480px) {
    .text{
        font-size: 5vw;
    }

}

@media screen and (min-width:600px) {
    .text{
        width: 70vh;
    }
    .download{
        top: 65%;
    }
}

@media screen and (min-width:768px) {
    .text{
        width: 90vh;
    }

    .jogo-descricao{
        height: 100vh;
    }
    .download{
        top:65%;
    }
}

@media screen and (min-width:992px) {
    .jogo-descricao{
        display: flex;
        flex-wrap: wrap;
    }

    .game-img{ width: 35vw; }

    .game-infos{
        width: 70%;
        height: 100%;
        position: relative;
    }

    .text{
        width: 95%;
        top: 50%;
        font-size: 4vw;
    }

    .download{
        top: 90%;
        padding: 15px;
        padding-left: 30px; padding-right: 30px;
        font-size: 40px;
    }

    .imgs-gifs{
        width: 30%;
        height: 100%;
        flex-direction: column;
        position: absolute;
        left: 70%;
    }

    .gifs{
        width: 100%;
        max-height: 33.33%;
    }
}
